<!DOCTYPE html>
<html>
<head>
    <title>User Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">INFLULINK</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto"></ul>
        <span class="navbar-text mr-3">
            If not registered:
        </span>
        <form action="/influencer_register" method="get" class="form-inline">
            <button type="submit" class="btn btn-primary mx-1">Influencer Registration</button>
        </form>
        <form action="/sponsor_register" method="get" class="form-inline">
            <button type="submit" class="btn btn-secondary mx-1">Sponsor Registration</button>
        </form>
    </div>
</nav>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h3>User Login</h3>
                </div>
                <div class="card-body">
                    <form action="/userlogin" method="post">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg mx-2">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
